@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Luckiest+Guy&family=Pangolin&display=swap');

body {
  background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
  font-family: 'Luckiest Guy', cursive;
  overflow: hidden;
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalClock {

  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  color: darkolivegreen;
  background-color: rgba(105, 105, 105, 0.1);

}

.digitalClock h1 {
display: inline-block;
margin: 0 10px;
font-weight: bold;
font-size: 5rem;
}

@media(max-width:768px) {
  #bar1, #bar2 {
    display: none;
  }

  .digitalClock {
    text-align: center;
    width: 100%;
  }

  .digitalClock h1 {
    display: block;
  }
}

@media(max-width:480px) {
  .digitalClock h1 {
    font-size: 4rem;
  }
}

